

/*.container
{

	background-color: #EEE;
	width: 250px;
	height:250px;
	border: 2px dotted #080;
	overflow: visible;
margin:20px auto;
}

   .transform { 
	width: 200px; 
	height: 200px;
	  padding: 5px;   
	    border: 1px solid blue;
         overflow: visible;
         color: black;    
          margin: 20px auto;
        background : red ;
         word-break: break-all;
         	transition: all 1s ease-in-out;


     /*    text-align: center; white-space:normal;
         overflow: hidden;
         text-overflow: ellipsis;
      

}*/
/*transform:hover
{
	transform: rotate(45deg);

};
.transform:hover
{
	transform: scale(2,2);
	/*transform:scale(2);
}
.transform:hover
{
	transform: translateX(50px);
	transform: translateY(50px);
	transform: scaleX(2);
	transform: scaleY(2); 
	transform: rotateX(50deg);
	transform: rotateY(50deg);
	transform: skewX(50deg);
	transform: skewY(50deg);
	transform: skew(30deg,30deg);
	transform: translate(150px,150px) scale(2,2) rotate(25deg) skew(30deg,30deg);

}*/
*
{
	box-sizing: border-box;
	display: block;
}
div
{
	margin: 10px 0 100px;


}
div:first-of-type
{
 perspective: 500px;
 perspective-origin: center;

}


div:nth-of-type(2)
{
	perspective: 300px;
}

div:last-of-type
{
	perspective: 200px;
}
img
{
width: 100px;
height: 100px;
margin:10px auto;
display: block;	
transform: translateZ(100px);

}
img:hover
{
	/*transform: matrix(-1,-.5,.5,1,100,50);
	/*transform: scale(-1,1);
	transform: rotate(30deg);
	/* rotate 3D */
	/*transform: rotateX(45deg);

	transform: rotateY(45deg);
	transform:rotateZ(45deg);
	transform: translate3d(0,0,200px);
	transform: scale3d(1,1,4) rotateY(30deg);
	transform: scaleX(2);*/


}
