*
{
	box-sizing: border-box;

}
div
{
	width: 32%;
	float: left;
	font-size: 22px;
	background-color: blue;
	
	margin-left: 10px;
}
/*@media (max-width: 600px)	
{
	div
	{
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
		width: 100%;
		background-color: red;
	}
}
/*@media (min-width: 600px)	
{
	div
	{
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
		width: 100%;
		background-color: brown;
	}
}*/
/****************************Range*********************/
@media (min-width: 1000px)and (max-width: 1600px)
{
	div
	{
	float: none;
		margin-left: 0;
		margin-bottom: 20px;
		width: 100%;
		background-color: brown;
	}
}